@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>
            <span>@product.Name</span>  
            <span>@product.Price</span>
            <a href="/Product/Edit?id=@product.Id">Edit</a>&nbsp;&nbsp;
            <a href="#" id=@product.Id class="btn-delete">Delete</a>
        </li>
    }
</ul>
